body {
    background-color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
}

.real {
  font-weight: bold;
  text-align: center;
}

.real_disrupted {
  color: red;
}

.real_discrepancy {
  color: orange;
}

.scheduled {
  text-align: center;
}

.scheduled_normal {
  color: grey;
}

.scheduled_delay {
  text-decoration: line-through;
}

table {
  margin-top: 0.3em;
  background-color: #ffffff;
}

table#tabletime {
  width: 21em;
}

table#tabletime td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table#tabletime > tbody > tr > td:not(.truncate) {
  width: 1px;
}

table#tabletime td.truncate {
  max-width: 1px;
}
th {
  text-align: center;
  background-color: lightgray;
}

td {
  padding-top: 0px;
  padding-bottom: 0px;
}

table, th, td {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 1px solid lightgray;
  border-collapse: collapse;
}

table#tabletime td.disruption {
  color: orange;
  text-align: center;
  font-size: smaller;
}

table#tabletime th.section {
  background-color: #a3a3a3;
}

a {
  text-decoration: none;
  font-weight: normal;
}

td#rain_container {
  margin: 0px;
  padding: 0px;
}

table#rain {
  width: 100%;
  height: 1.5em;
  margin: 0px;
  padding: 0px;
  border-spacing: 0;
  table-layout: fixed;
}

table#rain td {
/*  width: 12.5%;*/
}
