
.real_normal {
  font-weight: bold;
}

.real_delay {
  font-weight: bold;
  color: red;
}

.scheduled_normal {
  color: grey;
}

.scheduled_delay {
  text-decoration: line-through;
}

.real_suppressed {
  text-decoration: line-through;
  color: red;
}

table {
  margin-top: 0.3em;

}

th {
  text-align: center;
  background-color: lightgray;
}

td {
  padding-top: 0px;
  padding-bottom: 0px;
}

table, th, td {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 1px solid lightgray;
  border-collapse: collapse;
}

a {
  text-decoration: none;
  font-weight: normal;
}
